body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  max-height: 100vh;
}

.home-container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.card {
  background: white;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;
}

.card > h1 {
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: oklch(0.789 0.154 211.53);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.home-form > label {
  font-size: 18px;
}

/******* Results Page ********/

.results-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
